div.row{
    text-align: center;
    align-items:center;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 0vw;
    margin-right: 0vw;
}

#logo{
    background-color: aliceblue;
}
#calendario{
    background-color:antiquewhite;
}
#evento{
    background-color:aqua;
}
#filtro{
    background-color:aquamarine;
}
#actividades{
    background-color:azure;
}
footer{
    background-color:bisque;
}

div.card{
    text-align: center;
    align-items:center;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 0vw;
    margin-right: 0vw;
    margin-left: 0vw;
}