div{
    margin-bottom: 0.5vw;
}

#logo{
    background-color: aliceblue;
}
#calendario{
    background-color:antiquewhite;
}
#evento{
    background-color:aqua;
}
#filtro{
    background-color:aquamarine;
}
#actividades{
    background-color:azure;
}
footer{
    background-color:bisque;
}