#inicio{
    background-color: #004B85;
    min-height: 50px;
    max-height: fit-content;
}
#inicio p{
    color:white;
    text-align: left;
}

#inicio .btn{
    background-color: #F7AE00;
    align-items: right;
}

body{
    font-family: Roboto Condensed;
    background-color: #000000;
}

.row{
    text-align: center;
    align-items:center;
    margin: 0;
}

#logo{
    background-color: white;
}
#logo img{
    height: 12vw;
}


#calendario{
    background-color:white;
    text-align: center;
}
#evento{
    background-color: white;
}
#filtro{
    background-color:white;
}
.form-select{
    background-color: white;
}
#tabla_titulo{
    background-color: #F7AE00;
}
#actividades{
    background-color:white;
}
footer{
    background-color:#004B85;
    min-height:80px;
    max-height: fit-content;
}

.borde{
    min-height: 0.5vh;
}
