<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="row">
        <div class="col-2"><p>Ingrese sus Datos</p></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            {% if si != 2 %}
            <form action="{% url 'login' %}" method="get">
                <label for="usuario" style="min-width: 200px;">Nombre de usuario:</label>
                <input type="text" id="usuario" name="usuario">
                <br><br>
                <label for="contraseña">Contraseña:</label>
                <input type="text" id="contraseña" name="contraseña">
                <br>
                <br>
                <input type="submit" value="Entrar">
            </form>

            <form action="{% url 'index' %}">
                <br>
                <input type="submit" value="Entrar como invitado">
            </form>
            {%endif%}

            {% if si == 3 %}
            <p>Acceso Denegado.</p>
            {%endif%}

            {% if si == 2 %}
            <p>Acceso Concedido.</p>
            <form action="{% url 'index' %}">
                <input type="submit" value="Continuar">
            </form>
            {% endif %}
        </div>
        <div class="col-2"></div>
    </div>
    
</body>
</html>