<table class="table">
    <thead>
      <tr>
        <th scope="col">Hito</th>
        <th scope="col">Fecha Inicio</th>
        <th scope="col">Fecha Termino</th>
        <th scope="col">Tipo</th>
        <th scope="col">Segmento</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for actividad in actividades %}
      <tr>
        <td>{{actividad.titulo}}</td>
        <td>{{actividad.fecha_inicio}}</td>
        <td>{{actividad.fecha_termino}}</td>
        <td>{{actividad.get_tipo_tipo_display}}</td>
        <td>{{actividad.tipo_segmento}}</td>
      </tr>
      {% endfor %}
      <tr>
        <td>hito</td>
        <td>fecha inicio</td>
        <td>fecha termino</td>
        <td>tipo</td>
        <td>segmento</td>
      </tr>
      <tr>
        <td>hito2</td>
        <td>fecha inicio2</td>
        <td>fecha termino2</td>
        <td>tipo2</td>
        <td>segmento2</td>
      </tr>
      <td>actividad.hito</td>
        <td>actividad.FechaInicio</td>
        <td>actividad.FechaTermino</td>
        <td>actividad.Tipo</td>
        <td>actividad.Segmento</td>
    </tbody>
  </table>